.ipynb_checkpoints/**
__pycache__/**
best_models_history/**
models/Checkpoints/**
data/bigger_data/**
data/spectra/**
Issues.txt
latex/**

!data/bigger_data/dummy.txt
!data/bigger_data/quasars.parquet
!data/spectra/dummy.txt